

.containerr {
    margin-top: 20px;
         background-color: #e9ecef; 
    border-radius: 0.3rem;
    padding: 10px;
}
  
  .page {
    display: none;
}
.page-active {
    display: block;
  }
  #pagination-demo .page{
      display: inline;
  }
  .jumbotron{
background-color: white!important;
  }
  .page.active .page-link{
      background-color: steelblue;
      color: seashell;
  }

.tegs{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding-top: 5px;
    border-top:1px solid black;
}
.tegs .badge{
    margin-bottom: 10px;
    margin-left: 10px;
}
.tegsText{
    margin-bottom: 10px;
    margin-left: 10px;
}
.display-3{
    margin-left: 20px;
}
.lead{
    margin-left: 10px;
}
.underTitle{
    display: flex;
    flex-wrap: wrap;
}
.dataCreation{
    color: rgb(116, 117, 119);
}