/* .scrolling-box {
	display: block;
	overflow-y: scroll;
	scroll-behavior: smooth;
	position: fixed;
	height: 100px;
	width: 250px;
} */
/* 
.slidebar {
    position: fixed;
    width: 150px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
} */

.block{
    height: 100px;
    width: 100%;
    margin: 30px; 
    border:1px solid rgb(112, 104, 104);
    border-radius: 2px;
  }