@media (min-width: 992px) {
    .scrolling-box {
        display: block;
        overflow-y: scroll;
        height: 100vh;
        width: 250px;
        top: 0;
        left: 0;
    }

    .scrolling-box::-webkit-scrollbar{
        width: 5px;
        height: 0;
    } 
    ::-webkit-scrollbar{
        width: 8px;
    } 
    ::-webkit-scrollbar-thumb{
        border-width:1px 1px 1px 2px;
        border-color: #777;
        background-color: #aaa;
    }
    ::-webkit-scrollbar-thumb:hover{
        border-width: 1px 1px 1px 2px;
        border-color: #555;
        background-color: #777;
    }

    .top-bar{
        width: 100%;
        display: flex;
        justify-content: flex-end;
        margin: 0 100px;
        list-style: none;
    }

    .top-bar-menu {
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .top-bar-element {
        margin: 0 20px;
        font-family: 'FontAwesome';
        font-size: 20px;
        text-shadow: 0 1px 2px #191a1b, 0 1px 0 #191a1b;
        color: #adb5bd;
        height: 55px;

        display: flex;
        align-items: center;
        justify-content: center;
    }

    .top-bar-element:link, .top-bar-element:visited {
        color: #adb5bd;
    }

    .top-bar-menu:hover {
        color: #fff;
        background-color: #2a2e33;
        text-decoration: none;
    }

    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item > .heading {
        color: #adb5bd;
        cursor: default;
    }

    .navbar {
        padding: 0;
    }
    .img {
        margin-left: 5px;
    }
    .img-small {
        height: 20px;
    }
    .img-big{
        height: 225px;
    }

}
@media (max-width: 992px) {
    .top-bar {
        margin-top: 15px;
    }

    .top-bar-menu {        
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px dotted #adb5bd;
        height: 60px;
    }
    .img-small {
        height: 250px;
        width: 250px;
        align-self: center;
    }
}
.navbar-brand {
    font-family: 'Patua One', cursive;
    font-size: 2rem;
    margin: 0 20px;
    padding: 0;
}



.display-none {
    display: none;
}
.content-wrapper {
    padding-top: 0;
    padding-bottom: 10px;
}
.shell{
    display: flex;
    flex-direction: column;
    align-items: center;
}



.containerr {
    margin-top: 20px;
    background-color: #e9ecef; 
    border-radius: 0.3rem;
    padding: 10px;
}
.page {
    padding: 0;
    display: none;
}
.page-active {
    display: block;
  }
#pagination-demo .page{
    display: inline;
}
.jumbotron{
    background-color: white !important;
}
.page.active .page-link{
    background-color: steelblue;
    color: seashell;
}
.pagination{
    flex-wrap: wrap;
}
.page-link {
    font-size: 1.1rem!important;
    padding: 5px 13px!important;
}



.tags {
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
    padding-top: 5px;
}
.tags-in-bar {
    margin-top: 0;
}
.tags .badge{
    margin-bottom: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.tagsText{
    margin-left: 10px;
    font-size: 0.8em;
    font-weight: bold;
}
.tagsText-in-article {
    margin-left: 10px;
    font-size: 15px;
    font-family: 'Patua One';
    color: rgb(56, 56, 56);
}
.articleTags{
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
    padding-top: 5px;
    border-top: 1px solid rgb(102, 99, 99);
}
.articleTags .badge{
    margin-left: 10px;
    cursor: pointer;
}



.underTitle{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}
.underTitle span{
    margin-right: 5px;
}
.dataCreation{
    color: rgb(116, 117, 119);
    font-size: 0.7em;
}
.creatorName{
    font-weight: bold;
    font-size: 0.7em;
}
.containerr .prebtn{
    display: flex;
    justify-content: flex-end;
}
.btn{
    margin-left: 15px;
    margin-right: 35px;
    font-size: 1rem;
    padding: 0.3rem 0.5rem;
}
.lead {
    margin: 10px;
    margin-top: 0;
    padding-top: 10px;
    font-size: 1rem;
}
.display-3{
    font-family: 'Patua One', cursive;
    margin-left: 10px;
    font-size: 2rem;
}



.article {
    margin: 20px 5px;
    background-color: white;
    padding: 10px;
    border-radius: 0.3rem;
}
.article-background {
    background-color: #e9ecef; 
}
.article-top {
    display: flex;
    align-items: flex-start;
}
.article-top-element .tags{
    margin-left: 0;
}
.article-top-element .date {
    margin: 10px 40px;
    padding: 5px;
    border: 1px solid rgb(145, 143, 143);
    height: fit-content;
    width: fit-content;
    font-size: 1rem;
    font-weight: 70;
    line-height: 1.2;
    color: rgb(56, 56, 56);
    text-align: center;
}
.display-heading {
    font-family: 'Patua One', cursive;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 200;
    line-height: 1.2;
    margin-left: 10px;
    color: rgb(104, 103, 103);
}
.article-content {
    border-top: 1px solid rgb(145, 143, 143);
}
.article-footer {
    background-color: #d6d6d6 !important;
}

